<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="yandex-verification" content="c431fbc04b8ebbbd" />

<title>{{ site.title }}</title>
<meta name="description" content="Жирный faq по маркообразным в 81 кузове" />
<meta content="article" property="og:type" />
<meta content="{{ site.url }}/FAQx81" property="og:url" />
<meta content="FAQ: gx81, jzx81, mx83, lx80, sx80, yx80" property="og:title" />
<meta content="{{ site.title }}" property="og:site_name" />
<meta content="Жирный faq по маркообразным в 81 кузове" property="og:description" />
<meta content="{{ "/assets/img/logo.png" | absolute_url }}" property="og:image" />
<link href="{{ "/assets/img/logo.png" | absolute_url }}" rel="image_src" />

<link rel="preconnect" href="https://mc.yandex.ru" crossorigin>

<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/img/favicon/apple-touch-icon.png?v=" | append: site.github.build_revision | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/img/favicon/favicon-32x32.png?v=" | append: site.github.build_revision | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/img/favicon/favicon-16x16.png?v=" | append: site.github.build_revision | relative_url }}">
<link rel="manifest" href="{{ "/assets/img/favicon/site.webmanifest?v=" | append: site.github.build_revision | relative_url }}">
<link rel="mask-icon" href="{{ "/assets/img/favicon/safari-pinned-tab.svg?v=" | append: site.github.build_revision | relative_url }}" color="#7b7b7b">
<link rel="shortcut icon" href="{{ "/assets/img/favicon/favicon.ico?v=" | append: site.github.build_revision | relative_url }}">
<meta name="apple-mobile-web-app-title" content="faqx81">
<meta name="application-name" content="faqx81">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-config" content="{{ "/assets/img/favicon/browserconfig.xml?v=" | append: site.github.build_revision | relative_url }}">
<meta name="theme-color" content="#000000">

<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

<!--[if IE]>
    <link rel="stylesheet" href="{{ "/assets/css/ie.css?v=" | append: site.github.build_revision | relative_url }}">
<![endif]-->
<!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<![endif]-->
